<!-- 
<p id="notice"><%= notice %></p>

<h1>Listing Bugs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th>Issue type</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="6"></th>
    </tr>
  </thead>

 -->

<!-- <span class="btn">
     <%= link_to 'New Bug', new_bug_path, remote: true %>
</span> -->

<span class="new_btn">
     <%= link_to 'New Bug', new_bug_path, remote: true, class: "btn btn-danger" %>
</span> 

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Recent Bugs</h1>
<h3>Title Issue Type Priority Status</h3>

<div id="bugs">
  <%= render @bugs %>
</div>

<div id="bug-form" style="display:none;"></div>

<!--     <% @bugs.each do |bug| %>
    <div class="entry">
      <div class="entry_title"> <%= bug.title %> </div>
      <div class="entry_info">
        <span class="user"> Reported by <%=  (bug.user.try(:fname) || "NA") %> </span>
        <span class="user"> <%=  (bug.user.try(:lname) || "NA") %> </span>
        <span class="date"> on <%= bug.updated_at.to_formatted_s(:long_ordinal) %> </span>
        <span class="entry_issue_type"> <%=  bug.issue_type %> </span>
        <span class="priority"> <%=  bug.priority %> </span>
        <span class="status"> <%=  bug.status %> </span>
      </div>
      <div class="entry_text"> <%= bug.description %> </div>
      <div class=""
      <div class="actions">
        <%= link_to 'Show', bug %>
        <%= link_to 'Edit', edit_bug_path(bug) %>
        <%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %> -->

