<!DOCTYPE html>
<html>
<head>
  <title>Bugtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

<div id="banner">
	<%= @page_title || "VW Bugs Beetles Vans and Campers" %><!-- <label id="code.depot.e.title"/> -->
	<%=image_tag("tinybeetle.png", alt: "VW Bug")%>
</div>

<%= render 'layouts/navigation' %>
 <div class="container">
     <%= yield %>
 </div>
 <%= render 'layouts/footer' %>

</body>
</html>
