<!DOCTYPE html>
<html>
<head>
  <title>Bugtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

<div id="banner">
	<%= @page_title || "BugTracker" %><!-- <label id="code.depot.e.title"/> -->
	<%=image_tag("tinybeetle.png", alt: "VW Bug")%>
</div>

<div id="columns">
    <div id="side">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/bugs">Bugs</a></li>
        <li><a href="/contact/index">Contact</a></li>
      </ul>
    </div>


	<div id="main">
		<%= yield %>
	</div>!

</div>

</body>
</html>
